#sixth {
    --planet: 200px;
    --orbit1: 400px;
    --orbit2: 350px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Adicionado */
}


#planet {
	width: var(--planet);
	height: var(--planet);
	background: linear-gradient(rgb(170, 0, 255), hsl(25, 90%, 45%));
	border-radius: 50%;
	position: absolute;
	top: calc(50vh - var(--planet)/2);
	left: calc(50% - var(--planet)/2);
}

.ring {
	width: 600px;
	height: 30px;
	border: solid 1px white;
	border-radius: 50%;
	position: absolute;
	top: calc(50vh - 15px);
	left: calc(50% - 300px);
	transform: rotate(45deg);
	animation: fatten 3s ease-in-out infinite alternate;
}
.ring-front {
	border-top: none;
	border-left: none;
	border-right: none;
}
#sixth .ring {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

@keyframes fatten {
    from {
        height: 10px;
    }
    to {
        height: 50px;
    }
}

@media screen and (max-width: 768px) {
    /* Reduzir ainda mais o tamanho do planeta e ajustar o tamanho do anel para dispositivos menores */
    :root {
        --planet: 150px;
        --orbit1: 280px;
        --orbit2: 240px;
    }

    #sixth .ring,
    #sixth .ring-front {
        width: calc(var(--planet) + 220px); /* Ajustar a largura do anel para dispositivos menores */
    }
}