body {
    background-color: black;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

@font-face {
    font-family: 'Orbitron';
    src: url('Portfolio/styles.css') format('woff2'),
         url('Portfolio/styles.css') format('woff');
  }
  

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
}
/* Posicionando elementos nos cantos da tela */
.top-left {
    font-size: 19px; /* Tamanho do texto do título */
    position: absolute;
    top: 14px;
    left: 23px;
    color: white; /* Cor do texto */
}

.top-right {
    font-size: 19px;
    position: absolute;
    top: 14px;
    right: 23px;
    color: white; /* Cor do texto */
}

.bottom-left {
    position: absolute;
    bottom: 14px;
    left: 23px;
    color: orange; /* Cor do texto laranja */
}

.right-side {
    position: absolute;
    top: 50%;
    right: 23px;
    transform: translateY(-50%);
    color: white; /* Cor do texto */
}

.bottom-right {
    position: absolute;
    bottom: 14px;
    right: 23px;
    color: white; /* Cor do texto */
}

/* Estilizando as âncoras */
.right-side a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: white; /* Cor dos links */
}


.top-left, .top-right, .bottom-left, .right-side, .bottom-right {
    color: red;
}

.orange-text {
    color: red;
}

.gray-text {
    color: gray;
}

.right-side a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    writing-mode: vertical-rl; /* Orientação vertical da direita para a esquerda */
     /* Mantém o texto na orientação vertical */
}

.bottom-right a {
    margin-right: 10px;
}

.bottom-right img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black; /* Cor de fundo opcional */
}

.centered-image img {
    max-width: 100%;
    max-height: 78vh;
    padding-top: 20vh;
}

.centro-image img {
    width: 120%; /* Aumenta a largura em 10% */
    height: auto; /* Mantém a proporção */
    max-width: 100%;
    max-height: 95vh;
    padding-top: 11vh;
}

/* Estilos básicos para os links */
.nav-link {
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
        to right,
        #eb1414,
        #f04604 50%,
        #f3f2f2 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    transition: all 0.3s ease-in-out;
}

/* Estilo da barra antes do link */
.nav-link:before {
    content: '';
    background: #fa1808;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

/* Estilo ao passar o mouse sobre o link */
.nav-link:hover {
    background-position: 0;
}
/* Estilo da barra antes do link ao passar o mouse */
.nav-link:hover::before {
    width: 100%;
}

.overlay-image {
    position: relative; /* Alterado para relative para posicionar o brilho */
    display: inline-block; /* Alterado para inline-block para ocupar apenas o espaço necessário */
}

.overlay-image img {
    max-width: 90%;
    max-height: 100vh;
    padding-top: 15vh;
    height: auto;
    display: block;
    opacity: 1; /* Ajustado para 1 para evitar que a imagem esteja pré-definida com opacidade */
    transition: filter 0.5s ease; /* Adicionado para criar uma transição suave */
}

.overlay-image:hover img {
    filter: brightness(150%); /* Adicionado o filtro de brilho ao passar o mouse */
}

.centered-image,
.overlay-image {
    position: absolute; /* Definido position: absolute para as duas imagens */
    top: 50%; /* Posiciona as imagens no centro verticalmente */
    left: 50%; /* Posiciona as imagens no centro horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza as imagens */
}

.bottom-right img:hover {
    transform: scale(1.2); /* Aumenta o tamanho da imagem em 20% no hover */
    transition: transform 0.3s ease; /* Adiciona uma transição suave de 0.3 segundos */
    filter: brightness(2000%); /* Aumenta o brilho da imagem em 20% no hover */
}
    /*transition: filter 0.5s ease; /* Adiciona uma transição suave 
    animation: mudarCor 5s infinite linear; /* Inicia a animação de mudança de cor 
}

@keyframes mudarCor {
    0% { filter: hue-rotate(0deg); } /* Inicia com a cor original (0 graus) 
    100% { filter: hue-rotate(360deg); } /* Termina com a cor totalmente alterada (360 graus)
}*/
